# Ignora datos persistentes de Docker
var/www/html/wp-content/uploads/
var/www/html/wp-content/cache/

# Ignora archivos de configuración específicos del entorno
.env

# Ignora archivos de logs
*.log

# Ignora archivos generados por IDEs
.idea/
.vscode/
*.suo
*.ntvs_analysis.dat
*.ncb
*.suo
*.user
*.userosscache
*.sln.docstates
